h1 {
  font-family: Verdana;
  font-weight: Normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

header, body {
  background-color: black;
  text-align: center;
}

.links {
  color: aquamarine;
  font-size: 16px;
}

.gray-text {
  font-family: Verdana;
  font-size: 21px;
  color:gray;
}

.copyright {
  color: gray;
  text-align: right;
}
